:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family, --second-family);
  background-color: var(--white);
  color: var(--slate);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  border: none;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.container {
  width: 1440px;
}

.text-contents {
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-logo-text-1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.nav-logo-text-2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.navbar .link-items {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.navbar .link-items:hover,
.navbar .link-items:focus {
  color: var(--ocean);
}

.nav-flex {
  display: flex;
  border-bottom: 1px solid var(--cornflower);
}

.navbar-flex {
  display: flex;
  gap: 40px;
  padding-right: 332px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact .contact-items {
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.contact .contact-items:hover,
.contact .contact-items:focus {
  color: var(--ocean);
}

.contact-flex {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  padding: 24px 76px 24px 156px;
}
.section-hero {
  background-color: var(--navy-blue);
  text-align: center;
}
.section-hero-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.btn-hero {
  font-family: var(--font-family);
  background-color: #4d5ae5;
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--ocean);
}

.hero {
  padding: 188px 0;
  margin-bottom: 120px;
}

.section-hero-text {
  padding-bottom: 48px;
}

.btn-hero {
  padding: 16px 32px;
  border-radius: 4px;
}

.features-flex {
  display: flex;
  gap: 24px;
}

.section-features {
  margin: 0 156px;
  margin-bottom: 120px;
}

.section-features h3 {
  padding-bottom: 8px;
}

.section-team {
  background-color: var(--cloud);
}
.section-team .team-names:hover,
.section-team .team-names:focus {
  color: var(--ocean);
}

.team-card-items {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-names {
  padding-top: 32px;
  text-align: center;
}

.section-team .text-contents {
  text-align: center;
  padding-bottom: 32px;
  padding-top: 8px;
}

.team-text {
  padding-top: 124px;
  padding-bottom: 72px;
}

.team-card {
  background-color: var(--white);
}
.team-card-items {
  padding-bottom: 116px;
}

.portfolio-cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-text {
  padding-top: 124px;
  padding-bottom: 72px;
}

.portfolio-items {
  border-bottom: 1px solid var(--cornflower);
  /* border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower); */
}

.section-portfolio {
  margin-bottom: 120px;
}

.section-portfolio h3 {
  padding-left: 16px;
  padding-top: 32px;
}

.section-portfolio .text-contents {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 32px;
}

.footer-logo-text-1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-logo-text-2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-content {
  background-color: var(--navy-blue);
}

.footer-text {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.footer-logo {
  padding-top: 100px;
  padding-bottom: 16px;
}

.footer-text {
  padding-bottom: 100px;
}

.footer-content {
  padding: 0 156px;
}
